<form [formGroup]="form" (ngSubmit)="submit()" style="background: #ffffff; color: #000000; padding: 20px; max-width: 600px; margin: 0 auto;">
	<h1>Создание нового поста</h1>
	
	<div
		class="form-control"
		[ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
	>
		<label for="title">Название поста:</label>
		<input id="title" type="text" formControlName="title">
		<div
			*ngIf="form.get('title').touched && form.get('title').invalid"
			class="validation"
		>
			<small *ngIf="form.get('title').errors.required">
				Введите название поста
			</small>
		</div>
	</div>
	
	<div class="form-control">
		<label>Контент поста:</label>
		<quill-editor formControlName="text"></quill-editor>
	</div>
	
	<app-upload [prefix]="'distortionSliderImg'" [descr]="'Изображения для слайдера на странице услуги (996x1081)'"></app-upload>
	<hr>
	<app-upload [prefix]="'distortionSliderMinImg'" [descr]="'Миниатюра для слайдера на странице услуги (123x123)'"></app-upload>
	<hr>
	<app-upload [prefix]="'catalogImg'" [descr]="'Изображения для слайдера каталога услуг (330x450)'"></app-upload>
	<hr>
	<app-upload [prefix]="'catalogTransitionImg'" [descr]="'Изображение для перехода при выбраной услуге (1092x1080)'"></app-upload>
	<hr>
	
	<button
		type="submit"
		class="btn btn-block btn-dark"
		[disabled]="form.invalid"
		style="border-color: #000; color: #000000;"
	>Создать пост</button>
</form>
