@import "../../../assets/style/mixins/mixins-sait";
@import "../../../assets/style/base/variables";
@import "main-section";

.section.fp-auto-height {
	height: auto !important;
}

.fp-auto-height .fp-tableCell {
	height: auto !important;
}

.main-page {
	&__container {
		position: relative;
		margin: 0 auto;
		max-width: 1760px;
		padding: 0 15px;
	}
	
	&__inner {
		position: absolute;
		min-height: 100vh;
		width: 100%;
	}

	&__soc-xs {
		display: none;
	}

	@media all and (max-width: $screen-lg) {

		&__soc-xs {
			display: block;
		}

		&__soc-xl {
			display: none;
		}
	}
}
