<!--<app-loader></app-loader>-->

<div class="main-page">
	<div class="main-page__container">
		<div class="main-page__inner">
			<div class="main-page__soc-xl">
				<app-soc></app-soc>
			</div>
			<app-next-section-link></app-next-section-link>
		</div>
	</div>
	
	<app-custom-fullpage>
		<section class="section is-active" #section>
			<div class="main-section__curtain" style="transform: translateX(-100%) translateZ(0)" #mainSectionCurtain></div>
			
			<div class="main-section__bg">
				<app-fake3d
					*ngIf="desktopMediaQuery"
					[image]="'assets/images/main.jpg'"
					[depf]="'assets/images/main-map.jpg'"
					[horizontalThreshold]="35"
					[verticalThreshold]="15">
				</app-fake3d>
			</div>
			
			<div class="main-section">
				<div class="main-section__title text-center" style="transform: scale(2) translateZ(0); opacity: 0" #mainTitle>
					Флористика<br>
					с душой
				</div>
				<button class="btn main-section__btn" #mainBtn
				        style="transform: translate3d(0, 20px, 0); opacity: 0;">
					Cмотреть работы
				</button>
				
				<div class="main-page__soc-xs">
					<app-soc></app-soc>
				</div>
				
				<div class="main-section__mouse" #mouse style="transform: translate3d(-50%, 20px, 0); opacity: 0;">
					<app-mouse></app-mouse>
				</div>
			</div>
		</section>
		<section class="section is-catalog" id="js-catalog" #section>
			<app-catalog></app-catalog>
		</section>
		<section class="section is-actions" #section>
			<div>
				<app-actions></app-actions>
				<app-footer></app-footer>
			</div>
		</section>
	</app-custom-fullpage>
</div>
