<app-loader></app-loader>

<div class="main-page">
	<div class="main-page__container">
		<div class="main-page__inner">
			<div class="main-page__soc-xl">
				<app-soc [receiveSocState]="sectionState"></app-soc>
			</div>
			<app-next-section-link [receiveNextSectionLinkState]="sectionState"></app-next-section-link>
		</div>
	</div>
	
	
	<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
		<div class="section fp-auto-height-responsive">
			
			<div class="main-section__bg">
				<app-fake3d
					*ngIf="desctopMediaQuery"
					[image]="'assets/images/main.jpg'"
					[depf]="'assets/images/main-map.jpg'"
					[horizontalThreshold]="35"
					[verticalThreshold]="15">
				</app-fake3d>
			</div>
			
			<div class="main-section">
				<div class="main-section__title text-center" #mainTitle>
					Флористика<br>
					с душой
				</div>
				<button class="btn main-section__btn" #mainBtn>Cмотреть работы</button>
				
				<div class="main-page__soc-xs">
					<app-soc></app-soc>
				</div>
				
				<div class="main-section__mouse" #mouse>
					<app-mouse></app-mouse>
				</div>
			</div>
		</div>
		
		<div class="section is-catalog fp-auto-height-responsive" id="js-catalog">
			<div class="section__title text-center">
				Каталог услуг
			</div>
			<app-catalog *ngIf="posts$ | async as posts; else loading" [posts]="posts"></app-catalog>
			
			<ng-template #loading>
				<app-loader></app-loader>
			</ng-template>
		</div>
		
		<div class="section is-actions fp-auto-height-responsive">
			<app-actions></app-actions>
		</div>
		
		<div class="section fp-auto-height">
			<app-footer></app-footer>
		</div>
	</div>
</div>
