@import "../../../../assets/style/base/variables";

.logo {
  position: relative;
  z-index: 2;
  
  @media all and (max-width: $screen-md - 1) {
    max-width: 97px;
    
    &__pic {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
