.fp-tableCell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.fp-section {
	transition: none!important;
}

.fullpage-wrapper {
	transform: translate3d(0, 0, 0) !important;
	transition: 0ms!important;
}

@media all and (min-width: $screen-lg) {
	.fp-section {
		opacity: 1!important;
		visibility: visible!important;
	}
}
