@import "../../assets/style/base/variables";

.slider {
	&__pagination {
		display: flex;
		align-items: center;
		margin-top: 30px;
		max-width: 730px;

		.catalog & {
			position: absolute;
			left: 100px;
			right: 100px;
		}
	}
	
	&__active-index,
	&__next-index {
		font-family: 'Playfair Display', serif;
		font-size: 20px;
	}
	
	&__active-index {
		margin-right: 20px;
	}
	
	&__next-index {
		margin-left: 20px;
	}
	
	@media all and (max-width: $screen-md) {
		&__pagination {
			margin-top: 10px;
		}
	}
}
