@import "../../../assets/style/base/variables";

.footer {
  position: absolute;
  z-index: 1;
  border-top: 1px solid rgba(#fff, .2);
  margin: 0 50px;
  padding: 17px 15px 10px;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1850px;
  
  &__nav,
  &__list {
    display: flex;
    justify-content: center;
  }
  
  &__list,
  &__soc-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  &__item,
  &__soc-item {
    padding: 0;
    margin: 0 25px 22px;
    
    &:first-child {
      margin-left: 0;
    }
  
    &:last-child {
      margin-right: 0;
    }
  }
  
  &__link {
    font-size: 16px;
    
    &:hover {
      text-decoration: none;
    }
  }
  
  &__soc-list {
    display: flex;
    justify-content: center;
  }
  
  @media all and (max-width: $screen-lg){
    padding-bottom: 40px;
    padding-top: 40px;
    
    &__list {
      flex-direction: column;
      margin-bottom: 30px;
    }
    
    &__item {
      text-align: center;
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media all and (max-width: $screen-md) {
    margin: 0 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
