<div class="footer">
	<nav class="footer__nav">
		<ul class="footer__list" *ngIf="posts$ | async as posts;">
			<li class="footer__item"
			    *ngFor="let post of posts">
				<a class="footer__link"
				   [routerLink]="['/post', post.id]">
					{{post.title}}
				</a>
			</li>
		</ul>
	</nav>
	<div class="footer__soc">
		<ul class="footer__soc-list">
<!--			TODO href -->
<!--			<li class="footer__soc-item" *ngFor="let socItem of soc">-->
<!--				<a href="{{socItem.link}}" target="_blank" class="footer__soc-link">-->
<!--					<img src="../../../../assets/images/soc/{{socItem.icon}}" alt="">-->
<!--				</a>-->
<!--			</li>-->
			<li class="footer__soc-item">
				<a href="https://instagram.com/guzel_akmaeva?igshid=8lr8riubfq9r" target="_blank" class="footer__soc-link">
					<img src="../../../../assets/images/soc/inst.svg" alt="">
				</a>
			</li>
			<li class="footer__soc-item">
				<a href="https://www.facebook.com/profile.php?id=100046001351260" target="_blank" class="footer__soc-link">
					<img src="../../../../assets/images/soc/fb.svg" alt="">
				</a>
			</li>
			<li class="footer__soc-item">
				<a href="whatsapp://+79178847912" target="_blank" class="footer__soc-link">
					<img src="../../../../assets/images/soc/whatsapp.svg" alt="">
				</a>
			</li>
			<li class="footer__soc-item">
				<a href="https://vk.com/fleurdelyse" target="_blank" class="footer__soc-link">
					<img src="../../../../assets/images/soc/vk.svg" alt="">
				</a>
			</li>
		</ul>
	</div>
</div>
