@import "../../../../assets/style/base/variables";

.mouse {
	width: 36px;
	height: 58px;
	background: url(../../../../assets/images/mouse.svg) no-repeat center;
	background-size: contain;
	opacity: 1;
	cursor: pointer;
	transition: all 1s ease 1.7s;
	z-index: 3;
	
	
	&:after {
		content: "";
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 2px;
		height: 12px;
		border-radius: 50%;
		background: #fff;
		animation: mouse 1s ease-in-out infinite;
	}
	
	@media all and (max-width: $screen-lg) {
		background: none;
		height: 30px;
		
		&:after {
			width: 30px;
			height: 30px;
			background: url("../../../../assets/images/tablet-arrow.svg") no-repeat center center;
			animation: arrow 1s ease-in-out infinite;
		}
	}
	
	@media all and (max-width: $screen-sm) {
		
		height: 25px;
		
		&:after {
			width: 25px;
			height: 25px;
		}
	}
	
	@media all and (max-width: $screen-sm) {
		
		height: 14px;
		
		&:after {
			width: 14px;
			height: 14px;
		}
	}
}

@keyframes mouse {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		transform: translateY(5px);
		opacity: 1;
	}
	100% {
		transform: translateY(10px);
		opacity: 0;
	}
}

@keyframes arrow {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform: translateY(0);
	}
}