@import "../../../assets/style/base/variables";
.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: $header-height;
	background: transparent;

	&__inner {
		width: 100%;
		margin: 0 auto;
		padding: 87px 15px 0;
		max-width: 1760px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__col {
		width: 50%;
		overflow-y: hidden;

		&_right {
			display: flex;
			justify-content: flex-end;
			align-self: center;
			position: relative;
			z-index: 100;
			margin-top: -10px;
		}
	}

	&__logo,
	&__burger {
		position: relative;
		transform: translate(0, 30px);
		opacity: 0;
		z-index: 2;
		will-change: auto;
	}
	
	&__burger {
		z-index: 100;
	}
	
	@media all and (max-width: $screen-lg - 1) {
		height: 112px;
		
		&__inner {
			padding: 35px 40px 0;
		}
	}
	
	@media all and (max-width: $screen-md - 1) {
		
		&__inner {
			padding: 35px 16px 0;
		}
	}
	@media all and (max-width: $screen-sm) {
		height: 64px;
		
		&__inner {
			padding: 15px 16px 0;
		}
	}
}
