<header class="header">
  <div class="header__inner">
    <div class="header__row">
      <div class="header__col">
        <div class="header__logo" #logoEl>
          <app-logo routerLink="/" (click)="goToMainPage()"></app-logo>
        </div>
      </div>
      <!-- /.header__col -->
      <div class="header__col header__col_right">
        <div class="header__burger" #burgerEl>
          <a (click)="openNav()" class="burger">
            <div class="burger__icon">
              <span></span>
            </div>
            <span class="burger__title">
            Меню
          </span>
          </a>
        </div>
      </div>
      <!-- /.header__col -->
    </div>
    <!-- /.header__row -->
  </div>
  <!-- /.header__inner -->
</header>
<!-- /.header -->
