<header class="header">
  <div class="header__inner">
    <div class="header__row">
      <div class="header__col">
        <app-logo routerLink="/" (click)="goToMainPage()"></app-logo>
      </div>
      <!-- /.header__col -->
      <div class="header__col header__col_right">
        <a (click)="openNav()" class="burger" [ngClass]="{'burger_close': !burger}">
          <div class="burger__icon">
            <span></span>
          </div>
          <span class="burger__title">
            Меню
          </span>
        </a>
      </div>
      <!-- /.header__col -->
    </div>
    <!-- /.header__row -->
  </div>
  <!-- /.header__inner -->
</header>
<!-- /.header -->
