<div id="js-slider-pagination" class="slider-pagination">
	<ul class="slider-pagination__list">
		<li data-slide="0" class="slider-pagination__item active">
			1
		</li>
		<li data-slide="1" class="slider-pagination__item">
			2
		</li>
		<li data-slide="2" class="slider-pagination__item">
			3
		</li>
		<li data-slide="3" class="slider-pagination__item">
			4
		</li>
		<li data-slide="4" class="slider-pagination__item">
			5
		</li>
		<li data-slide="5" class="slider-pagination__item">
			6
		</li>
		<li data-slide="6" class="slider-pagination__item">
			7
		</li>
	</ul>
</div>