<div class="catalog">
	<div class="catalog__shadow">
		каталог услуг
	</div>
	<div class="catalog__container">
		<div class="swiper-container" [swiper]="config">
			<div class="swiper-wrapper">
				<div class="swiper-slide" *ngFor="let post of posts; let i = index">
					<app-catalog-item
						[post]="post" [index]="i"
					></app-catalog-item>
				</div>
			</div>
		</div>
		<div class="swiper-button-prev catalog__button-prev"></div>
		<div class="swiper-button-next catalog__button-next"></div>
	</div>
	
	<div class="catalog__container">
		<div class="slider__pagination">
			<!--<div class="slider__active-index">0{{curentProgress}}</div>-->
			<div class="swiper-catalog-progressbar"></div>
			<!--<div class="slider__next-index">0{{totalProgress}}</div>-->
		</div>
	</div>
	
</div>
