<div style="position: absolute; z-index: -1; top: 0;" #app></div>
<div class="catalog" #catalog >
	<div class="catalog__shadow" #catalogTitle>
		каталог услуг
	</div>

	<div class="catalog__container">
		<div class="swiper-container" [swiper]="config">
			<div class="swiper-wrapper" >
				<div class="swiper-slide" *ngFor="let post of posts; let i = index" style="position: relative;">

					<div class="catalog-item">
						<div class="catalog-item__index">
							0{{i + 1 }}
						</div>

						<div class="catalog-item__pic">
							<div #wrapper>
								<figure>
									<img class="grid__item-img catalog-item__img" [src]="post.catalogImg[0]" crossorigin = "anonymous"/>
									<img class="grid__item-img grid__item-img--large" style="display: none;" #thumbsItems [src]="post.catalogTransitionImg[0]" crossorigin = "anonymous"/>
								</figure>
							</div>
						</div>
						<div class="catalog-item__heading">

							<div class="catalog-item__title">
								{{post.title}}
							</div>

							<button (click)="nextPage(post.id, $event)"
									class="btn btn-dark catalog-item__btn">
								смотреть работы
							</button>


							<div class="fullview">
								<div class="fullview__item" #fullviewItems></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-button-prev catalog__button-prev"></div>
		<div class="swiper-button-next catalog__button-next"></div>
	</div>

	<div class="catalog__container">
		<div class="slider__pagination">
			<!--<div class="slider__active-index">0{{curentProgress}}</div>-->
			<div class="swiper-catalog-progressbar"></div>
			<!--<div class="slider__next-index">0{{totalProgress}}</div>-->
		</div>
	</div>

</div>
