.section {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	display: flex;
	pointer-events: none;
	justify-content: center;
	align-items: center;

	&.is-active {
		pointer-events: auto;
	}

	.disable & {
		position: relative;
		height: 100%;
		opacity: 1;
		visibility: visible;
	}
}
