//TODO Почистить перед продакшеном

@font-face {
	font-family: 'SFUIDisplay';
	src: url("/src/app/fonts/SFUIDisplay/SFUIDisplay-Light.woff2");
	font-weight: 300;
}
@font-face {
	font-family: 'SFUIDisplay';
	src: url("/src/app/fonts/SFUIDisplay/SFUIDisplay-Regular.woff2");
	font-weight: 400;
}
@font-face {
	font-family: 'SFUIDisplay';
	src: url("/src/app/fonts/SFUIDisplay/SFUIDisplay-Medium.woff2");
	font-weight: 500;
}
@font-face {
	font-family: 'SFUIDisplay';
	src: url("/src/app/fonts/SFUIDisplay/SFUIDisplay-Bold.woff2");
	font-weight: 700;
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url("/src/app/fonts/PlayfairDisplay/playfairdisplay-regular.woff2");
	font-weight: 400;
}
@font-face {
	font-family: 'PlayfairDisplay';
	src: url("/src/app/fonts/PlayfairDisplay/playfairdisplay-bold.woff2");
	font-weight: 700;
}

@font-face {
	font-family: 'SFUIText';
	src: url("/src/app/fonts/SFUIText/SFUIText-Bold.woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'SFUIText';
	src: url("/src/app/fonts/SFUIText/SFUIText-BoldItalic.woff2");
	font-weight: 700;
	font-style: italic;
}