.form{
	&__input {
		border: 1px solid rgba(246, 246, 249, 0.2);
		background: transparent;
		height: 44px;
		width: 100%;
		margin-bottom: 16px;
		padding: 22px 14px;
		color: #ffffff;
		font-size: 14px;

		&::placeholder {
			color: #ffffff;
		}

		&:focus {
			&::-webkit-input-placeholder { color:transparent; }
			&:-moz-placeholder { color:transparent; } /* FF 4-18 */
			&::-moz-placeholder { color:transparent; } /* FF 19+ */
			&:-ms-input-placeholder { color:transparent; } /* IE 10+ */
		}
	}

	&__btn {
		margin-top: 10px;
		max-width: 100%;
		width: 100%;
		background: #ffffff;
		color: #000;

		&:hover {
			background: rgba(0, 0, 0, 0.4);
			color: #ffffff;
		}
	}
}
