<div class="popup">
	<div class="popup__pic">
		<div class="popup__pic-curtain" #curtain></div>
		<img src="../../../assets/images/popup.jpg" alt="" class="popup__img" [lazyLoad] #pic>
	</div>
	
	<div class="popup__form">
		
		<div class="popup__title" #title>
			Оставьте свой номер и мы вам перезвоним!
		</div>
		
		<form class="form">
			
			<input type="text" class="form__input" placeholder="Имя" #input>
			<input type="tel" value="+7" maxlength="12" class="form__input" placeholder="Телефон" #input>
			
			<button class="btn form__btn" #btn>
				ПОЗВОНИТЕ МНЕ
			</button>
		</form>
	</div>
</div>
