<app-loader></app-loader>

<div class="flower-page">
    <div class="flower-page__container">
        <div class="flower-page__left">
            <div class="flower-page__left-inner">
                <div class="flower-page__border" #border style="opacity: 0;"></div>
                <div class="flower-page__left-inner" *ngIf="post$ | async as post;">
                    <app-distortion-slider [images]="post.distortionSliderImg"
                                           (onLoadEnd)="fadeInFlowerPage()"></app-distortion-slider>
                </div>
            </div>
        </div>
        <div class="flower-page__right">
            <div class="flower-page__content">
                <div class="flower-page__content-inner">
                    <div class="flower-page__title-wrap">
                        <h2 class="flower-page__title text-left" #titleEl>
                            <span *ngIf="post$ | async as post">{{post.title}}</span>
                        </h2>
                    </div>
                    <div class="flower-page__text-wrap">
                        <div class="flower-page__text" #textEl>
                            <quill-view-html *ngIf="post$ | async as post"
                                             [content]="post.text"></quill-view-html>
                        </div>
                    </div>

                    <div class="flower-page__btn-wrap">
                        <button (click)="getPopup()" class="btn flower-page__btn" #btnEl>Заказать</button>
                    </div>

                </div>
                <div class="flower-page__pagination-wrap">
                    <div class="flower-page__pagination" #paginationEl>
                        <app-distortion-slider-pagination *ngIf="post$ | async as post"
                                                          [postImages]="post.distortionSliderMinImg"
                        ></app-distortion-slider-pagination>
                    </div>
                </div>

            </div>

            <div class="flower-page__footer-wrap">
                <div class="flower-page__footer" #footerEl>
                    <a href="https://instagram.com/guzel_akmaeva?igshid=8lr8riubfq9r" target="_blank" class="flower-page__more">
                        Больше фотографий в профиле
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

