.flower-page {
  &__container {
    display: flex;
  }
  
  &__left,
  &__right {
    width: 50%;
    overflow: hidden;
  }
  
  &__left {
    margin-left: -4px;
  }
  &__right {
    padding-left: 20px;
  }
}


