<app-loader></app-loader>

<div class="flower-page">
    <div class="flower-page__container">
        <div class="flower-page__left">
            <div class="flower-page__left-inner">
                <div class="flower-page__left-inner" *ngIf="post$ | async as post; else loadingSlider">
                    <app-distortion-slider [images]="post.distortionSliderImg" (onLoadEnd)="fadeInMainSection($event)"></app-distortion-slider>
                </div>
                <ng-template #loadingSlider>
                    load
                </ng-template>
            </div>
        </div>
        <div class="flower-page__right">
            <div class="flower-page__content">
                <div class="flower-page__content-inner">
                    <div class="flower-page__title-wrap">
                        <h2 class="flower-page__title text-left" #titleEl>
                            <span *ngIf="post$ | async as post">{{post.title}}</span>
                        </h2>
                    </div>
                    <div class="flower-page__text-wrap">
                        <div class="flower-page__text" #textEl>
                            <quill-view-html *ngIf="post$ | async as post"
                                             [content]="post.text"></quill-view-html>
                        </div>
                    </div>

                    <div class="flower-page__btn-wrap">
                        <button class="btn flower-page__btn" #btnEl>Заказать</button>
                    </div>

                </div>
                <div class="flower-page__pagination-wrap">
                    <div class="flower-page__pagination" #paginationEl>
                        <app-distortion-slider-pagination *ngIf="post$ | async as post"
                                                          [postImages]="post.distortionSliderMinImg"
                        ></app-distortion-slider-pagination>
                    </div>
                </div>

            </div>

            <div class="flower-page__footer-wrap">
                <div class="flower-page__footer" #footerEl>
                    <a href="" target="_blank" class="flower-page__more">
                        Больше фотографий в профиле
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

