.flower-page {
  height: 100vh;
  min-height: 650px;
  
  &__container {
    display: flex;
    height: 100%;
  }
  
  &__left,
  &__right {
    width: 50%;
    height: 100%;
  }
  
  &__left {
    margin-left: -4px;
  }
  &__right {
    padding-left: 20px;
  }
  
  &__left-inner {
    height: 100%;
  }
}


