@import "../../../assets/style/mixins/mixins-sait";
@import "../../../assets/style/base/variables";

.flower-page {
	height: 100vh;
	min-height: 650px;
	
	&__container {
		display: flex;
		height: 100%;
	}
	
	&__left,
	&__right {
		width: 50%;
		height: 100%;
	}
	
	&__left {
		margin-left: -4px;
	}
	&__right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 75px calc(100% / 10) 75px 115px;
		min-height: 700px;
	}
	
	&__left-inner {
		height: 100%;
	}
	
	&__title {
		@include title($fsz: 50px);
		margin-bottom: 30px;
	}
	
	&__text p {
		max-width: 565px;
		font-size: 18px;
		line-height: 1.5;
	}
	
	&__btn {
		margin-top: 50px;
		margin-bottom: 90px;
	}
	
	&__footer {
		position: absolute;
		bottom: 45px;
		right: 126px;
	}
	
	&__more {
		color: #fff;
		position: relative;
		padding-right: 30px;
		line-height: 1.5;
		
		&:hover {
			text-decoration: none;
		}
		
		&:after {
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			display: block;
			background: url(../../../assets/images/soc/inst.svg) no-repeat center;
			background-size: cover;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}


