<div class="soc" #socElement style="opacity: 0;">
	<ul class="soc__list">
		<!-- TODO href-->
		
		<!--		<li class="soc__item" *ngFor="let socItem of soc">-->
		<!--			<a [href]="socItem.link" class="soc__link" target="_blank">-->
		<!--				<img src="../../../../assets/images/soc/{{socItem.icon}}" alt="">-->
		<!--			</a>-->
		<!--		</li>-->
		<li class="soc__item">
			<a href="https://instagram.com/guzel_akmaeva?igshid=8lr8riubfq9r" class="soc__link" target="_blank">
				<img src="../../../../assets/images/soc/inst.svg" alt="">
			</a>
		</li>
		<li class="soc__item">
			<a href="https://www.facebook.com/profile.php?id=100046001351260" class="soc__link" target="_blank">
				<img src="../../../../assets/images/soc/fb.svg" alt="">
			</a>
		</li>
		<li class="soc__item">
			<a href="whatsapp://+79178847912" class="soc__link" target="_blank">
				<img src="../../../../assets/images/soc/whatsapp.svg" alt="">
			</a>
		</li>
		<li class="soc__item">
			<a href="https://vk.com/fleurdelyse" class="soc__link" target="_blank">
				<img src="../../../../assets/images/soc/vk.svg" alt="">
			</a>
		</li>
	</ul>
</div>
