@import "../../../../assets/style/base/variables";

.soc {
	position: absolute;
	left: 0;
	bottom: 59px;
	z-index: 80;
	
	&__list {
		margin: 0;
		padding: 0;
		position: relative;
		will-change: transform;
	}
	
	&__item {
		padding: 0;
		list-style-type: none;
		margin-bottom: 22px;
	}
	
	@media all and (max-width: $screen-lg) {
		bottom: 131px;
		left: 50%;
		transform: translateX(-50%);
		
		&__list {
			display: flex;
		}
		
		&__item {
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background: $body-bg;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 20px;
			position: relative;
			
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}

		&__link {
			max-width: 15px;

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	
	@media all and (max-width: $screen-md - 1) {
		bottom: 100px;
		
		&__item {
			margin: 0 20px;
			height: 35px;
			width: 35px;
		}
		
		&__link {
			img {
				display: block;
				max-width: 18px;
				height: auto;
				width: 100%;
			}
		}
	}
	
	@media all and (max-width: $screen-sm - 1) {
	
	}
}
