@import "../../../assets/style/base/variables";

.actions {
	//margin-top: 90px;
	position: relative;
	z-index: 12;

	.fp-viewing-firstSection &,
	.fp-viewing-secondSection & {
		pointer-events: none;
	}
	
	&__button-next {
		transform: translateX(20px) translateY(-25%);
		margin-right: 0;
	}
	
	&__button-prev {
		transform: translateX(-55px) translateY(-25%);
	}
	
	&__inner {
		display: flex;
	}
	
	&__left {
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-right: 50px;
		padding-left: 15px;
	}
	
	&__right {
		width: 59%;
		position: relative;
		overflow: hidden;
		z-index: 11;
	}
	
	&__pagination-wrap {
		display: flex;
		justify-content: flex-end;
	}
	
	&__pagination {
		width: 55%;
	}
	
	&__desc {
		margin-top: 25px;
		margin-bottom: 45px;
		max-width: 352px;
		font-size: 14px;
		will-change: any;
	}
	
	&__btn {
		max-width: 220px;
		padding-left: 18px;
		padding-right: 18px;
		white-space: nowrap;
		will-change: any;
	}

	&__curtain {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: darken($body-bg, 2);
		will-change: any;
	}
	
	@media all and (max-width: 1400px) {
		&__inner {
			padding-left: 60px;
			padding-right: 60px;
		}
	}
	
	@media all and (max-width: $screen-lg) {
		margin-top: 0;
		
		&__inner {
			display: flex;
			flex-direction: column-reverse;
			text-align: center;
			padding-left: 40px;
			padding-right: 40px;
		}
		
		&__title {
			opacity: 1!important;

			&:after {
				left: 50%;
				transform: translateX(-50%);
			}
		}
		
		&__left,
		&__right {
			width: 100%;
			padding: 0;
		}
		
		&__left {
			max-width: 510px;
			margin: 0 auto;
		}
		
		&__desc {
			margin-bottom: 40px;
			text-align: center;
			max-width: 100%;
			opacity: 1 !important;
		}
		
		&__btn {
			margin: 0 auto;
			opacity: 1 !important;
		}
		
		&__pic {
			max-width: 453px;
			margin: 0 auto 30px;
			opacity: 1 !important;
		}
	}
	
	@media all and (max-width: $screen-md) {
		&__inner {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
