<div class="actions">
	<div class="container">
		<div class="actions__inner">
			<div class="actions__left">
				<div class="section__title actions__title" style="opacity: 0; transform: translateZ(0)">
					Акционное предложение
				</div>
				<div class="actions__desc" style="opacity: 0; transform: translateZ(0)">
					При заказе свадебного оформления предоставляется скидка на букет невесты и бутоньерку в размере 30%
				</div>
				<button class="actions__btn btn btn_black"
				        style="opacity: 0; transform: translateZ(0)"
				(click)="getPopup()">
					заказать оформление
				</button>
			</div>
			<div class="actions__right">
				<div class="actions__curtain" style="opacity: 0; transform: translateX(-100%) translateZ(0)"></div>
				<div class="actions__pic" style="opacity: 0; transform: translateZ(0)">
					<img src="../../../../assets/images/actions-1.jpg" alt="" class="actions__img img-responsive">
				</div>
			</div>
		</div>
	</div>
</div>
