<div class="actions">
	<div class="container">
		
		<div class="swiper-container" [swiper]="config" [(index)]="index">
			<div class="swiper-wrapper">
				<!--<div class="swiper-slide" *ngFor="let post of posts; let i = index">-->
					<!--<app-actions-item-->
						<!--[post]="post" [index]="i"-->
					<!--&gt;</app-actions-item>-->
				<!--</div>-->
				<div class="swiper-slide">
					<div class="actions__inner">
						<div class="actions__left">
							<div class="section__title">
								Акционные предложения
							</div>
							<div class="actions__desc">
								При заказе свадебного оформления предоставляется скидка на букет невесты и бутоньерку в размере 30%
							</div>
							<button class="btn btn_black">
								заказать оформление
							</button>
						</div>
						<div class="actions__right">
							<div class="actions__pic">
								<img src="../../../../assets/images/actions-1.jpg" alt="" class="actions__img img-responsive">
							</div>
						</div>
					</div>
				</div>
				
				<div class="swiper-slide">
					<div class="actions__inner">
						<div class="actions__left">
							<div class="section__title">
								Акционные предложения
							</div>
							<div class="actions__desc">
								При заказе свадебного оформления предоставляется скидка на букет невесты и бутоньерку в размере 30%
							</div>
							<button class="btn btn_black">
								заказать оформление
							</button>
						</div>
						<div class="actions__right">
							<div class="actions__pic">
								<img src="../../../../assets/images/actions-1.jpg" alt="" class="actions__img img-responsive">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-button-prev actions__button-prev"></div>
		<div class="swiper-button-next actions__button-next"></div>
	</div>
	
	<div class="container">
		<div class="actions__pagination-wrap">
			<div class="slider__pagination actions__pagination">
				<!--<div class="slider__active-index">0{{curentProgress}}</div>-->
				<div class="swiper-actions-progressbar"></div>
				<!--<div class="slider__next-index">0{{totalProgress}}</div>-->
			</div>
		</div>
		
	</div>
	
</div>