@import "../../../assets/style/base/variables";

.actions {
	margin-top: 90px;
	position: relative;
	
	&__button-next {
		transform: translateX(20px) translateY(-25%);
		margin-right: 0;
	}
	
	&__button-prev {
		transform: translateX(-55px) translateY(-25%);
	}
	
	&__inner {
		display: flex;
	}
	
	&__left {
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-right: 100px;
	}
	
	&__right {
		width: 55%;
	}
	
	&__pagination-wrap {
		display: flex;
		justify-content: flex-end;
	}
	
	&__pagination {
		width: 55%;
	}
	
	&__desc {
		margin-top: 25px;
		margin-bottom: 45px;
	}
	
	@media all and (max-width: $screen-lg) {
		margin-top: 0;
		
		&__inner {
			display: flex;
			flex-direction: column-reverse;
			text-align: center;
		}
		
		&__title {
			&:after {
				left: 50%;
				transform: translateX(-50%);
			}
		}
		
		&__left,
		&__right {
			width: 100%;
			padding: 0;
		}
		
		&__left {
			max-width: 510px;
			margin: 0 auto;
		}
		
		&__desc {
			margin-bottom: 40px;
		}
		
		&__pic {
			max-width: 453px;
			margin: 0 auto 30px;
		}
		
		&__btn {
			max-width: 220px;
			margin: 0 auto;
		}
	}
}