{{posts}}
<div *ngIf="posts.length; else loading">
	<div class="form-controll">
		<input
			type="text"
			placeholder="Найти пост"
			[(ngModel)]="searchStr"
		>
	</div>
	<table>
		<thead>
		<tr>
			<td>#</td>
			<td>Название</td>
			<td>Действие</td>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let post of posts | searchPosts: searchStr; let i = index">
			<td>{{ i + 1 }}</td>
			<td>{{post.title}}</td>
			<td>
				<button
					class="btn btn-link"
					[routerLink]="['/admin', 'post', post.id, 'edit']"
				>
					Открыть
				</button>
				<a (click)="remove(post.id)">Удалить</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<ng-template #loading>
	<p>Загрузка постов</p>
</ng-template>
