.flower-page {
  &__container {
    display: flex;
  }
  
  &__left,
  &__right {
    width: 50%;
  }
}
.slider {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  
  .pagination {
    position: relative;
    z-index: 100000;
  }
  
  canvas {
    width: 100%;
    z-index: 100000;
    //position: absolute;
    top: 0;
    left: 0;
  }
  
  img {
    display: none;
  }
}


