<div class="distortion-slider" #distortionSlider>
  <img class="distortion-slider__img" src="/assets/images/flower-1.jpg">
  <img class="distortion-slider__img" src="./assets/images/flower-2.jpg">
  <img class="distortion-slider__img" src="./assets/images/flower-3.jpg">
  <img class="distortion-slider__img" src="./assets/images/flower-4.jpg">
  <img class="distortion-slider__img" src="./assets/images/flower-5.jpg">
  <img class="distortion-slider__img" src="./assets/images/flower-6.jpg">
  <img class="distortion-slider__img" src="./assets/images/flower-7.jpg">
</div>
