@import "../../../assets/style/base/variables";

.distortion-slider {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
  
  &__inner {
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  &__bg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  &__curtain {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background: $body-bg;
    //background: darken($body-bg, 10%);
    z-index: 1;
  }
  
  canvas {
    height: 100%;
    width: 100%;
  }
  
  @media all and (max-width: $screen-lg) {
  
    &:after {
      display: none;
    }
  }
}
// Ширины
//$screen-xs:                   0;
//$screen-sm:                   480px;
//$screen-md:                   768px;
//$screen-lg:                   992px;
//$screen-xl:                   1200px;
//$screen-xxl:                  1800px;
