.distortion-slider {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  
  .pagination {
    position: relative;
    z-index: 100000;
  }
  
  &__img {
    display: none;
  }
  
  canvas {
    width: 100%;
    z-index: 1000;
  }
}
