.distortion-slider {
  height: 100%;
  width: 100%;
  position: relative;
  
  &:after {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid rgba(#fff, 0.2);
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: -30px;
  }
  
  canvas {
    height: 100%;
    width: 100%;
  }
}
