@import "../../../assets/style/base/variables";

.nav-burger {
	width: 26px;
	height: 18px;
	top: 110px;
	right: 90px;
	position: fixed;
	cursor: pointer;
	will-change: transform;
	display: block;

	span {
		position: absolute;
		top: 50%;
		left: 0;
		height: 2px;
		width: 100%;
		background: #fff;
		display: block;

		&:first-child {
			transform: rotate(45deg);
		}

		&:last-child {
			transform: rotate(-45deg) ;
		}
	}

	@media all and (max-width: $screen-sm) {
		top: 33px;
		right: 30px;
	}
}
