@import "../../../assets/style/mixins/mixins-sait";
@import "../../../assets/style/base/variables";

.navigation {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background: $body-bg;
  @include flexCenter();
  flex-direction: column;
  text-align: center;
  will-change: transform;
  
  &__menu {
    padding: 0;
    list-style-type: none;
    max-width: 400px;
    margin: 0 auto;

    .active a {
      color: #ffffff;
    }
  }

  &__item-wrap {
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__item {
    transition: .5s;
    position: relative;
    transform: translateY(-100%);
    will-change: transform;

    &.active a {
      transform: scale(1.22);
      display: block;
      transition: .5s;
    }
    
    a {
      @include title(
        $fsz: 30px,
        $color: rgba($white, .5)
      );
      transition: .5s;
      
      &:hover {
        text-decoration: none;
        color: $white;
      }
    }
  }
  
  @media all and (max-width: $screen-sm) {

    &__item-wrap {
      margin-bottom: 25px;
    }

    &__item {
      a {
        display: block;
        font-size: 20px;
        max-width: 220px;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}
