<div class="navigation" #navigation style="transform: translateY(-130%) translateZ(0)">
	
	<app-navigation-logo routerLink="/" (click)="closeNav()"
	                     [queryParams]="{status: 'disable'}"
	></app-navigation-logo>
	
	<a class="nav-burger" (click)="closeNav()" #navBurger>
		<span></span>
		<span></span>
	</a>
  
		<nav class="navigation__menu">
			<div class="navigation__item-wrap"
			     *ngFor="let post of posts">
				<div #navMenuItems class="navigation__item"
				     routerLinkActive="active"
				     [routerLinkActiveOptions]="{exact: true}">
					<a (click)="closeNav()"
					   [routerLink]="['/post', post.id]"
					   [queryParams]="{status: 'disable'}">
						{{post.title}}
					</a>
				</div>
			</div>
		</nav>
	
	<ng-template #loading>
		<app-loader></app-loader>
	</ng-template>
</div>
